<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2023 b5blazor.wanggaofeng.net, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img width="40" height="32" src="@B5Blazor.Shared.GlobalApp.B5BlazorSharedWebRoot/images/bootstrap-logo.png" />
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://b5blazor.wanggaofeng.net" class="nav-link px-2 text-body-secondary" target="_blank">官网</a></li>
        <li class="nav-item"><a href="https://blog.wanggaofeng.net" class="nav-link px-2 text-body-secondary" target="_blank">博客</a></li>
        <li class="nav-item"><a href="http://git.wanggaofeng.cn:3000" class="nav-link px-2 text-body-secondary" target="_blank">源码仓库</a></li>
        <li class="nav-item"><a href="https://github.com/bicijinlian/B5Blazor" class="nav-link px-2 text-body-secondary" target="_blank">Github</a></li>
    </ul>
</footer>

@code {

}
