<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex align-items-center link-body-emphasis text-decoration-none">
        <img width="40" height="32" src="@B5Blazor.Shared.GlobalApp.B5BlazorSharedWebRoot/images/bootstrap-logo.png" />B5Blozor UI
    </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">首页</a></li>
        <li class="nav-item"><a href="https://b5blazor.wanggaofeng.net" class="nav-link px-2 text-body-secondary" target="_blank">官网</a></li>
        <li class="nav-item"><a href="https://blog.wanggaofeng.net" class="nav-link px-2 text-body-secondary" target="_blank">文档</a></li>
        <li class="nav-item"><a href="http://git.wanggaofeng.cn:3000" class="nav-link px-2 text-body-secondary" target="_blank">组件</a></li>
        <li class="nav-item"><a href="https://github.com/bicijinlian/B5Blazor" class="nav-link px-2 text-body-secondary" target="_blank">示例</a></li>
    </ul>

    <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">QQ</button>
    <button type="button" class="btn btn-primary">微信</button>
    </div>
</header>

@code {

}
