<ul class="list-group mb-3">
    <a href="#" class="list-group-item list-group-item-action active disabled d-flex justify-content-between align-items-center" aria-current="true">
       <span>最新测试</span><span class="badge bg-danger rounded-pill"> 5 </span>
    </a>
    <a href="/divider" class="list-group-item list-group-item-secondary list-group-item-action">
        分隔线
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        菜单A
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        菜单B
    </a>
    <a href="#" class="list-group-item list-group-item-action">
       菜单C
    </a>
    <a href="#" class="list-group-item list-group-item-action">
       菜单AAA
    </a>
</ul>

<ul class="list-group mb-3">
    <a href="#" class="list-group-item list-group-item-action active disabled d-flex justify-content-between align-items-center" aria-current="true">
       <span>分隔线组件</span><span class="badge bg-danger rounded-pill"> 4 </span>
    </a>
    <a href="/divider" class="list-group-item list-group-item-action">
        分隔线
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        菜单D
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        菜单E
    </a>
    <a class="list-group-item list-group-item-action disabled">
       菜单F
    </a>
</ul>


<div class="list-group mb-3">
  <a href="#" class="list-group-item list-group-item-action active disabled d-flex justify-content-between align-items-center" aria-current="true">
        <span>测试菜单组</span><span class="badge bg-danger rounded-pill">14</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action">测试菜单1</a>
  <a href="#" class="list-group-item list-group-item-action">测试菜单2</a>
  <a href="#" class="list-group-item list-group-item-action">测试菜单3</a>
  <a class="list-group-item list-group-item-action disabled">测试菜单4</a>
</div>

@code {

}
