<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="@B5Blazor.Shared.GlobalApp.B5BlazorSharedWebRoot/images/banner/001.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>开源 Blazor UI 组件库</h5>
                <p>基于 Bootstrap5 和 ASP.NET Blazor 7</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="@B5Blazor.Shared.GlobalApp.B5BlazorSharedWebRoot/images/banner/002.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>AI出品，必属精品！</h5>
                <p>这是AI生成的图片：意不意外、惊不惊喜？</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="@B5Blazor.Shared.GlobalApp.B5BlazorSharedWebRoot/images/banner/003.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>示例效果</h5>
                <p>B5Blazor可以做出，超级炫酷的效果哦！</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
