<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
	<!-- 控制解决方案的 packages 文件夹是否包括在源代码管理中。 此节仅适用于解决方案文件夹中的 nuget.config 文件 -->
    <add key="disableSourceControlIntegration" value="false" />
  </solution>
  <config>
    <!-- 设置Nuget包存储位置(仅限于 packages.config)：Nuget包文件存储于解决方案根目录的.packages文件夹 -->
    <add key= "repositoryPath"  value = "./.packages" /> 
	
	<!--全局Nuget包文件夹的位置(仅使用 PackageReference 的项目)：-->
    <add key= "globalPackagesFolder"  value = "./.packages" /> 
  </config> 
  
  <fallbackPackageFolders>
   <!--全局Nuget包文件夹的位置(仅使用 PackageReference 的项目)：-->
   <add key="fallback_Packages" value="./.packages" />
  </fallbackPackageFolders>
</configuration>